a div label:hover{
    color:blue !important;
}


.container-main{
    min-height: 100vh !important;
    margin-top: 96px !important;
}

a.categoria{
    color: black !important;
}


a.categoria:hover{
    color: gray !important;
    text-decoration: none;
}

.card-directorios{
    max-width: 250px !important;
}

.card-pres{
    font-size: .8rem;
    font-weight: bold;
}


.dir-nombre{
    font-size: .8rem;
}