

a div:hover{
    color:rgb(251, 176, 23,.9) !important;
}

a.nav-items:hover{
    color:rgb(251, 176, 23,.9) !important;
}
a.nav-items{
    color:black !important;
}


.container-main{
    min-height: 100vh !important;
    margin-top: 96px !important;
}

a.categoria{
    color: black !important;
}


a.categoria:hover{
    color: gray !important;
    text-decoration: none;
}

.card-directorios{
    max-width: 280px !important;
}

.card-pres{
    font-size: .8rem;
    font-weight: bold;
}


.dir-nombre{
    font-size: .8rem;
}



.activo-l{
    box-shadow: 0 4px 1px -1px #FBB017;
}

li.custom-nav:hover{
    transition: .3s;
    box-shadow: 0 4px 1px -1px #FBB017 !important;
}

li.custom-nav:hover>a{
    color :black !important;
}