@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500;900&display=swap');



.tabla-w{
    width: 150px !important;
    margin-left: 50%;
    transform: translateX(-50%);
}

.alerta{
    top: 60px;
    right: 10px;
    z-index: 99999999 !important;
    float: right !important;
}

.sub{
    z-index: 999999 !important;
}

.m-table{
    padding-left:0px !important ;
    padding-right: 0px !important;
}


.m-reset{
    margin-left:0px !important ;
    margin-right: 0px !important;
}

.edit-item{
    color: #ffc107 !important;
}

.edit-item:hover{
    color: #ffff !important;
}

